body{
    margin: 0;
    background-color: blanchedalmond;
}
h1{
    font-size: 3rem;
    text-align: center;
}
.p-brownies{
    font-size: 1.2rem;
    text-align: center;
}
.imgb{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h2{
    font-size: 2rem;
    text-align: center;
}
container{
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    
}
.head{  
    font-size: 1.2rem;
}
.ul-brow {
    display: inline-block;
}
h3{
    font-size: 2rem;
    text-align: center;
}

footer{
    background-color: #222;
    padding: 1rem;
    color: white;
}
footer section{
    float: right;
}

footer p{
    margin: 0;
}
footer a{
    transition: color 0.3s ease;
    color: white;
    text-decoration: none;
    margin: 20px;
    cursor: pointer;
}

footer a:hover{
    color: cornflowerblue;
}